//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 20 00:10:42 2021
//! **************************************************************************

SCHEMATIC START;
COMP "BTN_X<4>" LOCATE = SITE "W16" LEVEL 1;
COMP "BTN_X<3>" LOCATE = SITE "W15" LEVEL 1;
COMP "BTN_X<2>" LOCATE = SITE "W19" LEVEL 1;
COMP "BTN_X<1>" LOCATE = SITE "W18" LEVEL 1;
COMP "BTN_X<0>" LOCATE = SITE "V17" LEVEL 1;
COMP "rst" LOCATE = SITE "AF10" LEVEL 1;
COMP "SW" LOCATE = SITE "AA10" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "AD21" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "AC21" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "AB21" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "AC22" LEVEL 1;
COMP "SEGLED_CLK" LOCATE = SITE "M24" LEVEL 1;
COMP "SEGLED_CLR" LOCATE = SITE "M20" LEVEL 1;
COMP "Green<3>" LOCATE = SITE "T25" LEVEL 1;
COMP "Green<1>" LOCATE = SITE "R23" LEVEL 1;
COMP "Red<0>" LOCATE = SITE "N21" LEVEL 1;
COMP "Green<2>" LOCATE = SITE "T24" LEVEL 1;
COMP "Red<1>" LOCATE = SITE "N22" LEVEL 1;
COMP "Red<2>" LOCATE = SITE "R21" LEVEL 1;
COMP "Green<0>" LOCATE = SITE "R22" LEVEL 1;
COMP "Red<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "buzzer" LOCATE = SITE "AF25" LEVEL 1;
COMP "BTN_Y<3>" LOCATE = SITE "W14" LEVEL 1;
COMP "BTN_Y<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "BTN_Y<1>" LOCATE = SITE "V19" LEVEL 1;
COMP "BTN_Y<0>" LOCATE = SITE "V18" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "M21" LEVEL 1;
COMP "clk" LOCATE = SITE "AC18" LEVEL 1;
COMP "SEGLED_PEN" LOCATE = SITE "R18" LEVEL 1;
COMP "Segment<7>" LOCATE = SITE "AA22" LEVEL 1;
COMP "Segment<5>" LOCATE = SITE "AC24" LEVEL 1;
COMP "Segment<6>" LOCATE = SITE "AC23" LEVEL 1;
COMP "Segment<3>" LOCATE = SITE "Y21" LEVEL 1;
COMP "Segment<4>" LOCATE = SITE "W20" LEVEL 1;
COMP "Segment<1>" LOCATE = SITE "AD24" LEVEL 1;
COMP "Segment<2>" LOCATE = SITE "AD23" LEVEL 1;
COMP "Segment<0>" LOCATE = SITE "AB22" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "M22" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "W23" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "AB26" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "Y25" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "AA23" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "Y23" LEVEL 1;
COMP "SEGLED_DO" LOCATE = SITE "L24" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "Y22" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "AE21" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "AF24" LEVEL 1;
COMP "Blue<1>" LOCATE = SITE "R20" LEVEL 1;
COMP "Blue<2>" LOCATE = SITE "T22" LEVEL 1;
COMP "Blue<3>" LOCATE = SITE "T23" LEVEL 1;
COMP "Blue<0>" LOCATE = SITE "T20" LEVEL 1;
SCHEMATIC END;

